---
// ZoomImage.astro
import { CDN_URL } from '../lib/constant';
import { cn } from '../lib/utils';

interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;     // Needed for PhotoSwipe aspect ratio
  class?: string;
  imageClass?: string;
  loading?: "lazy" | "eager";
  transitionName?: string;
}

const { 
  src, 
  alt, 
  width = 1200, 
  height = 800,       // Added default height
  class: className, 
  imageClass, 
  loading = "lazy",
  transitionName
} = Astro.props;

// Since these are on Cloudflare, we don't need 'getImage' anymore.
// We just use the direct URL for the high-res version.
const decoding = loading === "eager" ? "sync" : "async";

const realSrc = `${CDN_URL}${src}?w=${width}&q=88`

const thumbnailSrc = `${CDN_URL}${src}?w=1024&q=80`;
---

<a 
  href={realSrc} 
  data-pswp-width={width} 
  data-pswp-height={height} 
  target="_blank"
  class:list={["block cursor-zoom-in", className]}
>
  <img 
    src={thumbnailSrc}
    alt={alt} 
    style={transitionName ? `view-transition-name: ${transitionName}` : ''}
    loading={loading}
    decoding={decoding}
    class={cn("w-full h-auto", imageClass)} 
  />
</a>